* {
  box-sizing: border-box;
  margin: 0px;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  width: 1024px;
  height: 600px;
  background-color: bisque;
  background-image: url("../images/background.png");
  padding: 0px 0px 0px 20px;
  /* margin: 0 auto; */
}

.outerbox {
  width: 808px;
  height: 544px;
  background-image: url("../images/outerbox.png");
  display: flex;
  flex-direction: row;
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding: 32px 0px 0px 32px;
}

.wrapper__left {
  width: 208px;
  height: 472px;
  display: flex;
  flex-direction: column;
}

.wrapper__left__header {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.today {
  font-size: 9px;
}

.wrapper__left__body {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}

.left__body__header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.left__body__header__gray {
  width: 148px;
  height: 120px;
  background-color: gray;
}

.left__body__header__line {
  border-top: 1px dotted black;
  margin: 12px 0px;
}

.left__body__profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  font-size: 13px;
}

.left__body__footer {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: column;
}

.feel__title {
  color: gray;
  font-size: 11px;
  margin-bottom: 5px;
}

.wrapper__feel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper__right {
  width: 524px;
  height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 5px;
}

.wrapper__right__header {
  width: 510px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 14px;
}

.right__header__title,
.right__header__setting {
  color: #55b2e4;
  font-size: 9px;
}

.right__header__title {
  font-size: 16px;
}

.wrapper__right__body {
  width: 510px;
  height: 445px;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: white;
}

iframe {
  width: 100%;
  height: 100%;

  /* 기본으로 설정된 border제거 */
  border: none;
}

.navigation {
  width: 62px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  left: -10px;
  top: 78px;
}

.navigation__item {
  width: 60px;
  height: 30px;
  background-color: #298eb5;
  border: 1px solid black;
  color: white;
  border-radius: 0px 10px 10px 0px;
  font-size: 10px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.audio {
  position: relative;
  left: -450px;
  top: 560px;
  width: 250px;
  height: 20px;
}